<template>
<div>
    <!-- tabs adds the line in bottom -->
  <b-nav tabs>
<!-- the b-nav-items are links so we are disabiling them -->
    <b-nav-item disabled> <b>Fancy Quiz App</b> </b-nav-item>
    <b-nav-item disabled>Counter: {{numCorrect}}/{{numTotal}}</b-nav-item>
   
  </b-nav>
</div>
</template>

<script>
export default {
  props:[
    'numCorrect','numTotal'
  ]
}
</script>