<template>
<div class="question-box-container">
  <b-jumbotron >
       
<!-- question section -->
        <template #lead>
       {{currentQuestion.question}}
        </template>
<!-- question section end -->

        <hr class="my-4">

<!-- this is for the answers section -->
<b-list-group >
  <b-list-group-item v-for="(answer,index) in answers" :key="index"
  @click.prevent="selectAnswer(index)"
  :class="answerClass(index)" 
  > 
    {{answer}}
  </b-list-group-item>
</b-list-group>
<!-- answers section end -->

        <b-button 
        variant="primary" 
        @click="submitAnswer"
        :disabled="selectedIndex === null || answered"
        >
          Submit

        </b-button>
        <b-button @click="next" variant="success" href="#">Next</b-button>
  </b-jumbotron>
</div>
</template>


<script>
import _ from 'lodash'
export default {
    props:{
        currentQuestion : Object,
        next: Function,
        increment:Function
    },
    data(){
return {
  selectedIndex:null,
  correctIndex:null,
  shuffledAnswers:[],
  answered:false
}
    },
    computed:{
      //logic for answers/options amswers()
      answers(){
        let answers=[...this.currentQuestion.incorrect_answers]
        answers.push(this.currentQuestion.correct_answer)
        // pre push the correct answer in answers array after that return the answers
        return answers
      }
    },
    watch:{
currentQuestion:{
  immediate:true,
  handler(){
    this.selectedIndex=null
    this.shuffleAnswers()
    this.answered=false
  }
}
// (){
//   this.selectedIndex=null
//   this.shuffleAnswers()
// }
    },
    methods:{
      selectAnswer(index){
        this.selectedIndex=index

      },
      shuffleAnswers(){
        let answers=[...this.currentQuestion.incorrect_answers,this.currentQuestion.correct_answer]
this.shuffledAnswers= _.shuffle(answers)
this.correctIndex=this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
      },
      submitAnswer(){
        let isCorrect=false
        if(this.selectedIndex===this.correctIndex){
          isCorrect=true
        }
        this.answered=true
        this.increment(isCorrect)
      },
      answerClass(index){
        let answerClass=''
        if(!this.answered && this.selectedIndex === index){
          answerClass='selected'
        }else if (this.answered && this.correctIndex === index){
          answerClass='correct'
        }else if (this.answered && this.selectedIndex===index 
                     && this.correctIndex!=index){
          answerClass='incorrect'
        }
        return answerClass
      }
    },
}
</script>

<style scoped>
.list-group{
  margin-bottom:15px;
}
.list-group-item:hover{
  background-color: #EEE;
  cursor: pointer;
}
.btn{
  margin: 0 5px;  
}
.selected{
background-color:lightblue ;
}
.correct{
  background: lightgreen;
}
.incorrect{
  background-color: red;
}

</style>
